@media only screen and (min-width: 700px) {
    .mobile-shopping-cart-items {
        display: none;
    }

    .main-shopping-cart-item {
        display: flex;
        align-items: center;
        .main-shopping-cart-item-img {
            width: 124px;
        }
        .main-shopping-cart-item-form-field {
            display: flex;
            .main-shopping-cart-item-input-field {
                width: 24px;
                height: 32px;
                border-radius: 4px;
                margin: 8px 4px 0;
                border: 0.8px solid lightgray;
                text-align: center;

            }
        }
    }
}
