@media only screen and (min-width: 700px) {
  .mobile-shopping-cart-items {
    display: none;
}
.main-shopping-cart-item {
    display: flex;
    .main-shopping-cart-item-column{
      margin: 0px 0px 0px 16px;
      .main-shopping-cart-item-img{
         width: 124px;
         height: 132px;
      }
      .main-shopping-cart-item-form-field{
                display:flex;
                justify-content: center;
            .main-shopping-cart-item-input-field{
               width: 24px;
                height: 32px;
                border-radius: 4px;
                margin: 8px 4px 0px 4px;
                border: 0.8px solid lightgray;
                text-align: center;

            }
        }
        .divider{
            width: 100%;
            margin: 16px;
        }
    }
}
}