
.main-shopping-cart-items {
    display: none;
}
.mobile-shopping-cart-items {
    display: flex;
    text-align: center;
    margin-top: 16px;
    .mobile-shopping-cart-item-img {
        width: 100%;
        height: 148px;
    }
    h4 {
        margin: auto;
    }
}
