
.main-shopping-cart-item{
 display: none;
}
.mobile-shopping-cart-items{
    display: flex;
       div{
            .mobile-shopping-cart-item-img{
            width: 116px;
            height: 156px;
            }
       }
        .mobile-shopping-cart-item {
            margin: auto;
            text-align: center;
            .mobile-shopping-cart-item-form-field{
                display:flex;
                justify-content: center;
            .mobile-shopping-cart-item-input-field{
               width: 24px;
                height: 32px;
                border-radius: 4px;
                margin: 8px 4px 0px 4px;
                border: 0.8px solid lightgray;
                text-align: center;

            }
        }
    }
}
