.App-card{
    padding: 16px;
        .App-card-add-icon {
            height: 0px;
            margin-top: -48px;
            margin-bottom: +56px;
            display: flex;
            justify-content: flex-end;
        }
}

