
@media only screen and (min-width: 700px) {
    /* For Desktop and tablet: */
    .App-mobile-nav-bar {
        display: none;
    }
    .App-desktop-nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 8px 40px;
    }
    .App-desktop-nav-bar-shopping-cart {
        display: flex;
        align-items: center;
        .App-desktop-nav-bar-shopping-cart-icon {
            display: flex;
            background-color: #1c4656;
            padding: 8px;
            justify-content: space-around;
            width: 88px;
        }
    }
}
