.App-header-mobile {
    padding: 24px 40px;

    .App-header-mobile-nav-bar {
        display: flex;
        justify-content: space-between;
    }

    .App-header-mobile-icon {
        display: flex;
        span {
            display: flex;
            align-items: center;
            margin-right: 4px;
            transition: -5s margin;
        }
        .App-header-main-shopping-cart {
            display: flex;
            background-color: #1c4656;
            padding: 8px;
            justify-content: space-evenly;
            width: 80px;
        }
    }

    .App-header-mobile-title {
        text-align: center;
        padding-top: 24px;
    }
}

.App-header-main-nav-bar {
    display: none;
}
