.App-desktop-nav-bar {
    display: none;
}

.App-mobile-nav-bar {
    padding: 24px 40px;

    .App-mobile-nav-bar-header {
        display: flex;
        justify-content: space-between;
    }

    .App-mobile-nav-bar-icon {
        display: flex;
        span {
            display: flex;
            align-items: center;
            margin-right: 4px;
        }
        .App-mobile-nav-bar-shopping-cart-icon {
            display: flex;
            background-color: #1c4656;
            padding: 8px;
            justify-content: space-evenly;
            width: 80px;
        }
    }

    .App-mobile-nav-bar-title {
        text-align: center;
        padding-top: 24px;
    }
}
