@import './Animation';

.App {
    .App-header {
        background-color: #28657c;
        flex-direction: column;
        color: #eeeff0;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .App-primary-text {
        font-weight: 600;
    }
    .App-secondary-text {
        color: hsl(201, 23%, 34%);
        font-weight: 400;
    }
}

.shopping-cart-item-form-field {
    display: flex;
    justify-content: center;
    .shopping-cart-item-input-field {
        width: 24px;
        height: 32px;
        border-radius: 4px;
        margin: 8px 4px 0;
        border: 0.8px solid lightgray;
        text-align: center;

    }
}